*.iws
*Db.properties
*Db.script
.settings
*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/user_guide/

### Eclipse files
.project
.classpath
.settings
.buildpath

### IDEA Files
.idea/
*.iml
out/